<p>
  <strong>Name:</strong>
  <%=@user.name%>
</p>

<p>
  <strong>Email:</strong>
  <%=@user.email%>
</p>

<p>
  <strong>Age:</strong>
  <%=@user.age%>
</p>

<p>
  <strong>Country:</strong>
  <%=@user.country%>
</p>

<% @user.posts.each do |post| %>
  <div>
    <strong>Content</strong>
    <%=post.content%>
  </div>  
<% end %>  